<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <title>Sample</title>
  <style type="text/css" href="./style.css"></style>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script   src="https://code.jquery.com/jquery-3.3.1.js"   integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="   crossorigin="anonymous"></script>
</head>
<body>
<nav class="#e8eaf6 indigo lighten-5">
    <div class="nav-wrapper">
      <a href="/blogs" class="brand-logo">Blog</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if user_signed_in? %>
         <li><%= link_to "LogOut", destroy_user_session_path, method: :delete %></li>
         <li><a href="/blogs/new">New</a></li>
          <% else %>
        <li><%= link_to "LogIn", new_user_session_path, class: 'post' %></li>
         <li><%= link_to "SignIn", new_user_registration_path, class: 'post' %>
 </li>
         <% end %>


      </ul>
    </div>
  </nav>

<%= yield %>

</body>
</html>
